h1{
    color:rgb(239, 236, 235);
}
body{
    margin: 0;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDZixKwEGcQ2Xl8-0nS27bphOuNqPjKjb9BAqc5s9Lyr08TbpYybmdHrY1&s=10);
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar{
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    padding: 20px;
}
.navbar a{
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
}